@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap");

body {
    background-color: #f1f1f1
}

img.Logosecund {
    height: 40px;
    padding-left: 10px;
    padding-top: 10px;
}

hr.line {
    border: 1px solid #d5d5d5;
    transform: rotate(-0.16deg);
    background-color: #d5d5d5;
}

.Calendario {
    padding: 8px;
    margin-top: 200px;
    margin-left: 60px;
    float: left;
    top: 95%;
    left: 10%;
    width: 30%;
    height: 45%;
    background-position: center;
    background: white;

    border-radius: 10px;
}

.btnSair {
    top: 57.22%;
    left: 25%;
    position: absolute;
}

.btnlink{
    top: 90.22%;
    left: 87%;
    position: absolute;
   
}

.date {
    margin-top: 20px;
    width: 50%;
    height: 15%;
    font-family: "Poppins";
}

.add {
    width: 65%;
    height: 15%;
    border-radius: 18px;
}

p {
    font-family: "Poppins";
    font-weight: bold;
}

a {
    line-height: 24px;
    text-decoration-line: underline;
    color: #047000;
}

.add {
    background-color: white;
    width: 400px;
    height: 499px;
    float: right;
    border-radius: 20px;
    margin-right: 20%;
    margin-top: 5%;
}


.input {
    border: none;
    border-bottom: 1.5px solid black;
    width: 100px;
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 2%;
}

img#add {
    margin-left: 5%;
    margin-top: 5%;
}

img#more {
    width: 20px;
    height: 20px;
    margin-left: 10%;
    margin-top: 3%;
}

p#addp {
    background-position: center;
    margin-left: 10%;
    text-align: center;
    margin-left: 5%;
    margin-top: -8%;
    margin-bottom: 10%;
}

.time {
    background: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    border: none;
    float: right;
    margin-top: -10%;
    margin-right: 10%;
}

.a {
    text-decoration-line: underline;
    color: #020659;
    margin-left: 4%;
    font-size: 11pt;
}

.label {
    margin-left: 10%;
    font-family: "Poppins";
    font-size: 11pt;
    font-weight: bold;
    margin-bottom: 5%;
}

.btnadd  {
    color: #ffffff;
    background-color: #55af58;
    border: none;
    width: 150px;
    border-radius: 30px;
    height: 33px;
    margin-left: 5%;
    margin-top: 7%;
    
}
.btnadd:hover {
    background-color: #16e50e;
    
  }
  
  
  

 .btnadd:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}
.btncan {
    color: #ffffff;
    background-color: rgb(183, 72, 72);
    border: none;
    width: 120px;
    height: 33px;
    border-radius: 30px;
    float: right;
    margin-right: 5%;
    margin-top: 7%;
    
}
.btncan:hover {
    background-color:  rgb(240, 14, 14);;
    
}

.Add {
    background-color: #020659;
    color: white;
    border: none;
    width: 180px;
    height: 33px;
    margin-top: 8%;
    margin-left: 20%;
    border-radius: 20px;
    margin-bottom: 5%;
    
   
}

.p {
    text-align: center;
}

.btnSair {
    margin-top: -27%;
    margin-left: 70%;
}
.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}