@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');


body {
    background-color: #f2f2f2;
}

img.Logosecund {

    height: 40px;
    padding-left: 10px;
    padding-top: 10px;
}

hr.line {
    border: 1px solid #d5d5d5;
    transform: rotate(-0.16deg);
    background-color: #d5d5d5;
}

.Calendario {


    position: absolute;
    top: 35%;
    left: 10%;
    width: 30%;
    height: 45%;
    background-position: center;
    text-align: center;
    
    background: white;
    box-shadow: 8px 4px 32px rgba(0, 0, 0, 0.25);
    border-radius: 0px;
}

.date {
    margin-top: 20px;
    width: 50%;
    height: 15%;
    font-family: 'Poppins';
}

.Add {
    width: 65%;
    height: 15%;
    border-radius: 18px;
}

p {
    font-family: 'Poppins';
    font-weight: bold;
}

a {

    line-height: 24px;
    text-decoration-line: underline;
    color: #047000;
    
}


