@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Poppins:wght@300;600&display=swap');

.App {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
  }
  
  .BoxLogin {
    height: 70%;
    width: 40%;
    border-radius: 2vh;
    box-shadow: 10px 4px 23px -6px rgba(0, 0, 0, 0.25);
    background: #ffffff;
  }


h1 {
    margin-top: 40px;
    margin-bottom: -2px;
    font-size: 16pt;
    font-family: 'Poppins', sans-serif;
}

p#text { 
    font-family: 'Poppins', sans-serif;
    font-size: 10pt;
    margin-bottom: 30px;
    margin-top: auto;
    font-weight: lighter;
}


a {

    font-size: 10pt;
    line-height: 24px;
    text-decoration-line: underline;
    color: #020659;
    
    
}


input#email {

    height: 10%;
    width: 60%;
    margin-bottom: 30px;
    margin-top: 10px;
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;

    background-image: url("https://cdn-icons-png.flaticon.com/512/561/561127.png");
    /* Vector (não utilizado pelo figma/ tentar saber como tirar url dos icon que estão lá) */
    background-repeat: no-repeat;
    background-size: 1.3em;
    background-position-x: 11px;
    background-position-y: 11px;
    
}

input#password {

    height: 10%;
    width: 60%;
    border: 1px solid #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    

    background-image: url("https://findicons.com/files/icons/2770/ios_7_icons/512/password.png");
    /* Vector */
    background-repeat: no-repeat;
    background-size: 1.3em;
    background-position-x: 11px;
    background-position-y: 11px;
    
}

::placeholder {
    font-family: 'Poppins', sans-serif;
    padding-left: 40px;
    font-family: 'Inter', sans-serif;
    color: #7C7C7C;
}



button {
    height: 10%;
    width: 70%;
    margin-top: 40px;
    background-color: #020659; 
    color: white;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
   
  }

.Logo {

    height: 70px;
    width: 70px;
    position: fixed;
    top: 50px;
    
    
    
}

.NavBar {
    background-color: #020659;
    position: fixed;
    top: 0;
    height: 5%;
    width: 100%;
}

.SignIn {
    height: 8%;
    width: 61%;
    margin-top: 50px;
    background-color: #020659; 
    color: white;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5%;
  }
  

  